{% extends "../_layout/main.twig" %}
{% set page = "support" %}

{% block content %}
  <div class="wrap page">
    <div class="page-hero">
      <h1 class="page-hero__title alpha">Toshi Support</h1>
      <p class="text">
      For help with Toshi, visit our <a href="https://github.com/toshiapp">GitHub</a> to open an issue, ask a question on our <a href="http://developers.toshi.org/discuss">discussion forum</a>, or email toshi@gmail.com
      </p>
    </div>
  </div>
{% endblock %}
