html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: fonts.family;
  font-weight: fonts.regular;
  background-color: #FFF;
}

.wrap {
  max-width: 70rem; // 1120px
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
}
