.button {
  font-size: 100%;
  font-family: inherit;
  font-weight: fonts.bold;
  white-space: nowrap;
  vertical-align: middle;
  border: none;
  display: inline-block;
  cursor: pointer;
  padding: 1rem 1.25rem;
  border-radius: 6px;
  transition: background-color .2s, color .2s;
  @media breakpoints.small {
    font-size: .8125rem;
    padding: .6875rem 1.375rem;
  }
}

.button--primary {
  background-color: #FFFFFF;
  color: #004125;
  &:hover {
    background-color: #00854C;
    color: #FFF;
  }
}

.button--default {
  background-color: colors.green;
  color: #FFF;
  &:hover {
    background-color: #FF9A56;
    color: #FFF;
  }
  @media breakpoints.small {
    background-color: #FFF;
    color: colors.green;
  }
  
}