.feature {
  width: 30.833333333%;
  @media breakpoints.small {
    width: 100%;
    margin-bottom: 2.375rem;
  }
}

.feature__icon {
  width: 32px;
  height: @width;
}

.feature__title {
  margin-top: 1.25rem;
  @media breakpoints.small {
    margin-top: .9375rem;
  }
}
