.grid {
  display: flex;
  justify-content: space-between;
  @media breakpoints.small {
    flex-direction: column;
  }
}

.grid__item {
  width: 48.4375%
  @media breakpoints.small {
    width: 100%;
  }
}

.about {
  margin-top: 5rem;
  padding-top: 5rem;
  border-top: 1px solid rgba(58,58,58,0.05);
}
